.bg-white {
  background: $white;
}
.swiper-pagination-bullet-active {
  background: $rose;
}
input {
  outline: none;
}
button {
  outline: none !important;
}
a {
  text-decoration: none !important;
  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}
.swiper-pagination-bullet {
  outline: none;
}
.content-company-form-element-btn {
  width: 180px;
  height: 60px;
  background: #6bc274;
  border: 1px solid #6bc274;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-family: "Font Light";
  color: $white;
  transition: 500ms;
  margin: 0 auto;
  outline: none;
  box-shadow: none;
  @media (min-width: 992px) and (max-width: 1199px) {
    height: 60px;
    font-size: 24px;
  }
  @media (max-width: 991px) {
    height: 50px;
    width: 150px;
    font-size: 18px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    background: $white;
    color: #6bc274 !important;
    outline: none;
    box-shadow: none;
  }
}
