{% set page = 'historic' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section class="content-historic">
	<div class="content-historic-itens">
		<div class="content-historic-itens-bg">
			<div class="container">
				<div class="content-historic-itens-header">
					<a class="btn-return" href="index.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="9.586" height="10.582" viewBox="0 0 9.586 10.582"><path d="M-3.006-7.547,4.33-4.582v2.3L-5.256-6.727V-8.437l9.586-4.43v2.3Z" transform="translate(5.256 12.867)"/></svg>
						<p>voltar</p>
					</a>
					<h1 class="title">
						Histórico de campanhas 
					</h1>
				</div>
			</div>
		</div>
		<div class="content-historic-itens-body">
			<div class="container">
				<div class="row">
					{% for i in range(0,3)%}
						<div class="col-12 col-md-6 col-lg-4">
							<a class="content-card-historic" href="#">
								<div class="content-card-historic-image">
									<img class="img-fluid" src="../assets/img/home/image-historic-campaigns-1.png" alt="image historic campaigns" title="image historic campaigns"/>
								</div>
								<div class="content-card-historic-div">
									<div class="content-card-historic-div-header">
										<h2>Titulo da campanha</h2>
										<p>10/12/2021 - 31/12/2021</p>
									</div>
									<div class="content-card-historic-div-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis nibh lacus, in interdum ipsum suscipit a. Aliquam consequat porta pulvinar. Aliquam erat volutpat. Nullam non euismod risus. Nam et mi sapien. Nulla dictum consequat felis vel congue.</p>
									</div>
									<p class="link-consult">consultar</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<a class="content-card-historic" href="#">
								<div class="content-card-historic-image">
									<img class="img-fluid" src="../assets/img/home/image-historic-campaigns-2.png" alt="image historic campaigns" title="image historic campaigns"/>
								</div>
								<div class="content-card-historic-div">
									<div class="content-card-historic-div-header">
										<h2>Titulo da campanha</h2>
										<p>10/12/2021 - 31/12/2021</p>
									</div>
									<div class="content-card-historic-div-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis nibh lacus, in interdum ipsum suscipit a. Aliquam consequat porta pulvinar. Aliquam erat volutpat. Nullam non euismod risus. Nam et mi sapien. Nulla dictum consequat felis vel congue.</p>
									</div>
									<p class="link-consult">consultar</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-lg-4">
							<a class="content-card-historic" href="#">
								<div class="content-card-historic-image">
									<img class="img-fluid" src="../assets/img/home/image-historic-campaigns-3.png" alt="image historic campaigns" title="image historic campaigns"/>
								</div>
								<div class="content-card-historic-div">
									<div class="content-card-historic-div-header">
										<h2>Titulo da campanha</h2>
										<p>10/12/2021 - 31/12/2021</p>
									</div>
									<div class="content-card-historic-div-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis nibh lacus, in interdum ipsum suscipit a. Aliquam consequat porta pulvinar. Aliquam erat volutpat. Nullam non euismod risus. Nam et mi sapien. Nulla dictum consequat felis vel congue.</p>
									</div>
									<p class="link-consult">consultar</p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}