{% set page = 'leads' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section>
    <div class="content-leads">
        <div class="content-leads-itens container">
            <div class="content-leads-btn">
                <button>
                    < Voltar</button>
            </div>
            <div class="content-leads-title">
                <h2>Paybyrd</h2>
            </div>
        </div>
    </div>
    <div class="content-notices container">
        <div class="content-notices-box">
            <img src="../assets/img/leads/img-leads.png" alt="">
        </div>
        <div class="content-notices-box1">
            <p>campanha válida de:</p>
            <h3>10/12/2021 - 31/12/2021</h3>
            <button>Prémio</button>
            <img src="../assets/img/leads/img-leads-tv.png" alt="">
            <p class="sub-title">Samsung TV 65" QLED</p>
        </div>
    </div>
    <div class="content-noticia-text container">
        pLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis nibh lacus, in interdum ipsum
        suscipit a. Aliquam consequat porta pulvinar. Aliquam erat volutpat. Nullam non euismod risus. Nam et mi
        sapien. Nulla dictum conasequat felis vel congue.
    </div>

    <!--TABELA-->
        <div class="content-leads-itens-body">
            <div class="container">
                <div class="content-table">
                    <table class="content-table-element">
                        <tr>
                            <th>Qualificação</th>
                        </tr>
                        {% for i in range(0,2) %}
                        <tr>
                            <td>1</td>
                            <td>Pedro S.</td>
                            <td>59999</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>




</section>
{% endblock %}