{% set page = 'login' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section class="content-login">
	<div class="content-login-itens container">
		<div class="content-logo">
			<img class="img-fluid" src="../assets/img/logos/logo-mais-horeca.png" alt="logo mais horeca" title="logo mais horeca"/>
		</div>
		<form class="content-login-itens-form">
			<div class="content-input">
				<label>E-mail</label>
				<input type="email" name="email" value="" placeholder="" required/>
			</div>
			<div class="content-input">
				<label>Password</label>
				<input type="password" name="password" value="" placeholder="" required/>
			</div>
			<div class="content-btns">
				<button class="content-btns-login">
					Entrar
				</button>
				<a class="content-btns-recupery-password" data-toggle="modal" href="#modal-recupery-password">
					Recuperar password
				</a>
			</div>
		</form>
		<div class="content-btn-new-register">
			<button class="content-btn-new-register-link" data-toggle="modal" data-target="#modal-register">
				Novo Registo
			</button>
		</div>
	</div>
</section>
{% endblock %}