{% set page = 'my-leads' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section class="content-my-leads">
	<div class="content-my-leads-itens">
		<div class="content-my-leads-itens-bg">
			<div class="container">
				<div class="content-my-leads-itens-header">
					<div class="content-my-leads-itens-header-div">
						<a class="btn-return" href="index.html">
							<svg xmlns="http://www.w3.org/2000/svg" width="9.586" height="10.582" viewBox="0 0 9.586 10.582"><path d="M-3.006-7.547,4.33-4.582v2.3L-5.256-6.727V-8.437l9.586-4.43v2.3Z" transform="translate(5.256 12.867)"/></svg>
							<p>voltar</p>
						</a>
						<h1 class="title">
							As suas leads
						</h1>
					</div>
					<div class="content-my-leads-itens-header-element">
						<div class="content-text">
							<p>submetidas <span>14</span></p>
						</div>
						<div class="div-border"></div>
						<div class="content-text">
							<p>aprovadas <span>8</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-my-leads-itens-body">
			<div class="container">
				<div class="content-table">
					<table class="content-table-element">
						<tr>
							<th>Nome da lead</th>
							<th>Nome da campanha</th>
							<th>Data submissão</th>
							<th>Estado</th>
						</tr>
						{% for i in range(0,7) %}
						<tr>
							<td>Restaurante Tacho</td>
							<td>ZS rest</td>
							<td>20-12-2022</td>
							<td class="aproved">aprovada</td>
						</tr>
						{% endfor %}
						<tr>
							<td>Restaurante Tacho</td>
							<td>ZS rest</td>
							<td>20-12-2022</td>
							<td class="canceled">cancelada</td>
						</tr>
						<tr>
							<td>Restaurante Tacho</td>
							<td>ZS rest</td>
							<td>20-12-2022</td>
							<td class="in-analysis">Em análise</td>
						</tr>
						<tr>
							<td>Restaurante Tacho</td>
							<td>ZS rest</td>
							<td>20-12-2022</td>
							<td class="aproved">aprovada</td>
						</tr>
						<tr>
							<td>Restaurante Tacho</td>
							<td>ZS rest</td>
							<td>20-12-2022</td>
							<td class="aproved">aprovada</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}