{% set page = 'my-account' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section class="content-my-account">
	<div class="content-my-account-itens">
		<div class="content-my-account-itens-bg">
			<div class="container">
				<div class="content-my-account-itens-header">
					<a class="btn-return" href="index.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="9.586" height="10.582" viewBox="0 0 9.586 10.582"><path d="M-3.006-7.547,4.33-4.582v2.3L-5.256-6.727V-8.437l9.586-4.43v2.3Z" transform="translate(5.256 12.867)"/></svg>
						<p>voltar</p>
					</a>
					<h1 class="title">
						A sua conta
					</h1>
				</div>
			</div>
		</div>
		<div class="content-my-account-itens-body">
			<div class="container">
				<div class="content-account">
					<div class="content-account-element">
						<div class="row">
							<div class="col-12">
								<div class="content-account-element-header">
									<h2>O seu perfil</h2>
								</div>
							</div>
						</div>
						<div class="content-account-element-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="content-input">
										<label>Nome</label>
										<input type="text" value="" name="name" placeholder="Ana Silva" required/>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="content-input">
										<label>Código</label>
										<input type="text" value="" name="code" placeholder="354874" required/>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="content-input">
										<label>Telefone</label>
										<input type="text" value="" name="telphone" placeholder="913345879" required/>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="content-input">
										<label>E-mail</label>
										<input type="email" value="" name="email" placeholder="rui.s@delta.pt" required/>
									</div>
								</div>
							</div>
							<button class="btn-change">Alterar Perfil</button>
						</div>
					</div>
					<div class="content-account-element">
						<div class="row">
							<div class="col-12">
								<div class="content-account-element-header">
									<h2>Alterar Password</h2>
								</div>
							</div>
						</div>
						<div class="content-account-element-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="content-input">
										<label>Nova password</label>
										<input type="password" value="" name="name" placeholder="******" required/>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="content-input">
										<label>Confirmar nova password</label>
										<input type="password" value="" name="code" placeholder="******" required/>
									</div>
								</div>
							</div>
							<button class="btn-change">Alterar Password</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}