{% set page = 'my-campaigns' %}
{% set title = "" %}
{% set metaDescription = "" %}

{% extends "partials/layout.html" %}

{% block content %}
<section class="content-my-campaigns">
	<div class="content-my-campaigns-itens">
		<div class="content-my-campaigns-itens-bg">
			<div class="container">
				<div class="content-my-campaigns-itens-header">
					<div class="content-my-campaigns-itens-header-div">
						<a class="btn-return" href="index.html">
							<svg xmlns="http://www.w3.org/2000/svg" width="9.586" height="10.582" viewBox="0 0 9.586 10.582"><path d="M-3.006-7.547,4.33-4.582v2.3L-5.256-6.727V-8.437l9.586-4.43v2.3Z" transform="translate(5.256 12.867)"/></svg>
							<p>voltar</p>
						</a>
						<h1 class="title">
							As suas campanhas
						</h1>
					</div>
					<div class="content-my-campaigns-itens-header-element">
						<div class="content-text">
							<p>Concluidas <span>14</span></p>
						</div>
						<div class="div-border"></div>
						<div class="content-text">
							<p>Ativas <span>3</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-my-campaigns-itens-body">
			<div class="container">
				<div class="content-table">
					<table class="content-table-element">
						<tr>
							<th>Nome da campanha</th>
							<th>Leads submetidas</th>
							<th>Data início e fim</th>
							<th>Estado</th>
							<th>Pontos acumulados</th>
							<th>Posição</th>
						</tr>
						<tr>
							<td>Paybyrd</td>
							<td>11</td>
							<td>10-12-2021 / 31-12-2021</td>
							<td class="accrue">a decorrer</td>
							<td class="points">14254</td>
							<td class="position">4º</td>
						</tr>
						<tr>
							<td>ZS rest</td>
							<td>4</td>
							<td>10-12-2021 / 31-12-2021</td>
							<td class="accrue">a decorrer</td>
							<td class="points">245</td>
							<td class="position">24º</td>
						</tr>
						<tr>
							<td>Cashlogy</td>
							<td>14</td>
							<td>10-12-2021 / 31-12-2021</td>
							<td class="accrue">a decorrer</td>
							<td class="points">24584</td>
							<td class="position">2º</td>
						</tr>
						<tr>
							<td>ZS pos</td>
							<td>54</td>
							<td>10-11-2021 / 31-11-2021</td>
							<td class="finished">finalizada</td>
							<td class="points">78542</td>
							<td class="position">1º</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}