<footer class="content-footer">
	<div class="content-footer-itens container">
		<p>© maishoreca,
			<script>
				document.write(new Date().getFullYear())
			</script>
			 | 
		</p>
		<a data-toggle="modal" href="#modal-polity">Política e Privacidade</a>
	</div>
</footer>