<header class="content-header {% if page == 'home'%} content-header-home {% endif %}">
  <div class="content-header-itens container">
    <div class="content-header-itens-div">
      <a class="content-header-itens-logo" href="index.html">
        <img class="img-fluid" src="../assets/img/logos/logo-mais-horeca-header.png" alt="logo mais horeca" title="logo mais horeca" />
      </a>
      <a class="content-header-itens-logo content-header-itens-logo-home" href="index.html">
        <img class="img-fluid" src="../assets/img/logos/logo-mais-horeca-dark.png" alt="logo mais horeca" title="logo mais horeca" />
      </a>
      <div class="content-header-itens-links">
        <div class="content-header-itens-links-div d-none d-lg-flex">
          <a href="#">
            As suas Leads
          </a>
          <a href="#">
            As suas campanhas
          </a>
        </div>
        <div class="content-header-itens-links-div">
          <a class="btn-new-lead" href="#">
            Nova Lead
          </a>
          <div class="content-border d-none d-lg-flex"></div>
          <a class="content-user d-none d-lg-block">
            <p class="content-user-name">Ana S.</p>
            <p class="content-user-btn-logoff">terminar sessão</p>
          </a>
        </div>
        <div class="content-menu d-lg-none">
          <a class="content-menu-item btn-menu">
            <span></span>
            <p>Menu</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>