<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ metaDescription }}">
	<title>{{ title }}</title>
	<!-- <link rel="icon" type="image/png" href="../assets/img/favicon.ico"> -->

	<!-- build:css ../assets/css/style.min.css -->
	<link rel="stylesheet" href="/assets/css/styles.css">
	<!-- endbuild -->

	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="{{ type }}" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="{{ image }}" />
	<meta property="og:description" content="{{ description }}" />
</head>

<body>
	{% if page != "login" %}
	{% include "partials/header.html" %}
	{% endif %}

	<main class="{{ page }}">
		{% block content %}{% endblock %}
	</main>
	
	{% if page != "login" %}
		{% include "partials/menu.html" %}
		{% include "partials/footer.html" %}
	{% endif %}
	{% include "partials/modal.html" %}
	<div class="backdrop__bar d-none"></div>

	{% include "./scripts.html" %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>