<aside class="aside-menu d-lg-none">
	<div class="aside-menu-itens">
		<div class="aside-menu-itens-header">
			<div class="content-menu">
				<a class="content-menu-item btn-menu">
					<span></span>
					<p>Menu</p>
				</a>
			</div>
		</div>
		<div class="aside-menu-itens-links">
			<a href="index.html">
				Ínicio
			</a>
			<a href="#">
				As suas Leads
			</a>
			<a href="#">
				As suas campanhas
			</a>
			<a class="btn-new-lead" href="#">
				Nova Lead
			</a>
		</div>
		<a class="content-user">
			<p class="content-user-name">Ana S.</p>
			<p class="content-user-btn-logoff">terminar sessão</p>
		</a>
		<a class="content-logo" href="index.html">
			<img class="img-fluid" src="../assets/img/logos/logo-mais-horeca-menu.png" alt="logo mais horeca" title="logo mais horeca"/>
		</a>
	</div>
</aside>