<!-- MODAL POLITY AND PRIVACY -->
<div class="modal modal-default fade in" tabindex="-1" role="dialog" id="modal-polity">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button class="modal-btn-close" data-dismiss="modal">
				X
			</button>
			<div class="row">
				<div class="col-12">
					<div class="modal-header">
						<h2 class="modal-title">Política e Privacidade</h2>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<div class="row">
						<div class="col-12">
							<div class="modal-body-itens-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
									magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
									exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum</p>
								<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
									remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
									consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
									ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
									labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
									laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
									em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
									nulla pariatur? "</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-12">
						<div class="modal-body-itens-form-btns">
							<button data-dismiss="modal">Sair</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-------------------->

<!-- MODAL REGISTER -->
<div class="modal modal-default fade in" tabindex="-1" role="dialog" id="modal-register">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button class="modal-btn-close" data-dismiss="modal">
				X
			</button>
			<div class="row">
				<div class="col-12">
					<div class="modal-header">
						<h2 class="modal-title">Novo registo</h2>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<form class="modal-body-itens-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="content-input">
									<label>Nome</label>
									<input type="text" value="" name="name" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Código</label>
									<input type="text" value="" name="code" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Telefone</label>
									<input type="text" value="" name="telphone" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>E-mail</label>
									<input type="email" value="" name="email" placeholder="" required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="modal-body-itens-form-btns">
									<button>Criar registo</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-------------------->

<!-- MODAL RECUPERY PASSWORD -->
<div class="modal modal-default fade in" tabindex="-1" role="dialog" id="modal-recupery-password">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button class="modal-btn-close" data-dismiss="modal">
				X
			</button>
			<div class="row">
				<div class="col-12">
					<div class="modal-header">
						<h2 class="modal-title">Recuperar password</h2>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<form class="modal-body-itens-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="content-input">
									<label>E-mail</label>
									<input type="email" value="" name="email" placeholder="" required/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="modal-body-itens-form-btns">
									<button>Recuperar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-------------------->

<!-- MODAL LEADS -->
<div class="modal modal-default fade in" tabindex="-1" role="dialog" id="modal-leads">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button class="modal-btn-close" data-dismiss="modal">
				X
			</button>
			<div class="row">
				<div class="col-12">
					<div class="modal-header">
						<h2 class="modal-title">Nova lead</h2>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<form class="modal-body-itens-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="content-input">
									<label>Campanha</label>
									<div class="content-input-select">
										<select>
											<option selected disabled>Selecione a campanha</option>
											<option>opcao 1</option>
											<option>opcao 2</option>
											<option>opcao 3</option>
										</select>
										<svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11"><path d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)" fill="#f15a29"/></svg>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="content-input">
									<label>Nome Cliente</label>
									<input type="text" value="" name="name_client" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>NIF</label>
									<input type="text" value="" name="nif" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Telefone</label>
									<input type="text" value="" name="telphone" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Email</label>
									<input type="email" value="" name="email" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Código Postal</label>
									<input type="text" value="" name="postal_code" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="content-input">
									<label>Localidade</label>
									<input type="text" value="" name="location" placeholder="" required/>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="content-input">
									<label>Observações</label>
									<textarea></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="modal-body-itens-form-btns">
									<button>Submeter Lead</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-------------------->