<!-- build:js ../assets/js/main.min.js -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
<!-- endbuild -->
