@font-face {
    font-family: ubuntuRegular;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: ubuntuMedium;
    src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: PoppinsR;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: UbuntuBold;
    src: url(../fonts/Ubuntu-Bold.ttf);
}