
@include fontFace('Font Regular','../fonts/Web/Roboto-Regular.ttf');
@include fontFace('Font Bold','../fonts/Web/Roboto-Bold.ttf');
@include fontFace('Font Black','../fonts/Web/Roboto-Black.ttf');
@include fontFace('Font Light','../fonts/Web/Roboto-Light.ttf');
@include fontFace('Font Medium','../fonts/Web/Roboto-Medium.ttf');

.font-regular {
	font-family: 'Font Regular';
}
.font-bold {
	font-family: 'Font Bold';
}
.font-black {
	font-family: 'Font Black';
}
.font-light {
	font-family: 'Font Light';
}
.font-medium {
	font-family: 'Font Medium';
}