body {
  min-width: 320px;
}
p {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}
.backdrop__bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1020;
	background-color: rgba(0,0,0,0.6);
}
// main {
// 	margin-top: 100px;
// 	@media (max-width: 991px){
// 		margin-top: 71px;
// 	}
// }
// .home {
// 	margin-top: 0;
// }
