// GLOBAL

$default-value: 1rem;
$default-value-small: .6875rem;
$small-12: .75rem;
$small-14: .875rem;
$font-18: 1.125rem;

// COLORS

$white: #ffffff;
$black: #000000;
$black-medium: #212529;
$purple: #643B81;
$purple-light: #BF579F;
$blue: #19D1CD;
$orange: #ff8900;
$orange-light: #FFBA00;
$orange-dark: #F6A950;
$rose: #ED0A6E;
$rose-dark: #E32666;
$rose-light: #FFEDED;
$gray: #4c4c4c;
$gray-dark: #4d4d4d;
$gray-medium: #707070;
$red: #E62F2C;
$yellow: #FCD703;
$orange: #F15A29;
